	html, body{
	    font-size: 100%;
	    background: url(../images/1.jpg)repeat 0px 0px;
	    background-attachment: fixed;
		-webkit-background-size:cover;
		-moz-background-size:cover; 
		background-size:cover;
		font-family: 'Open Sans', sans-serif;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: 'Pathway Gothic One', sans-serif;
		margin:0;
	}
	input {
		border: transparent;
		background-color: transparent;
		margin-left: 20px;
	}
	label {
		float: left;
	}
	ul {
		padding-left: 0;
	}
	ul li b {
		width: 30%;
	}
	.card,
	.card-header {
		border:1px solid white!important;
	}

	.main{
		margin: 3em auto;
	    text-align: center;
	    width: 670px;
	    position: relative;
	    height: 100%;
	}
	.main h1 {
	    text-align: center;
	    color: #fff;
	    letter-spacing: 3px;
	    font-size: 45px;
	    margin-bottom: 50px;
		text-transform: uppercase;
		font-family: 'Pathway Gothic One', sans-serif;
	}
	#wrapper{
	    width: 670px;
	    overflow: hidden;
	}
	#steps{
	    width:670px;
	    overflow:hidden;
		background: rgba(76, 72, 72, 0.47);
	}
	.step{
	    float:left;
	    width:670px;
	}
	#steps form legend {
	    text-align: center;
	    color: #00e8ff;
	    font-size: 34px;
	    font-weight: 600;
	    text-transform: uppercase;
	    width: 670px;
	    padding: 20px 0px 20px 0px;
	    margin: 0;
	}
	.abt-agile-right h3 {
	    font-size: 28px;
	    text-transform: uppercase;
	    color:#fff;
	    letter-spacing: 2px;
	}
	.abt-agile-right p {
	    font-size: 14px;
	    line-height: 28px;
	    color: #b2b2b2;
	    margin: 20px 0;
	}
	.abt-agile-right {
	    float: right;
	    width: 58%;
	    text-align: left;
	}
	.abt-agile {
	    padding: 20px;
	}
	.abt-agile-left {
	    background: url(../images/c.jpg) no-repeat 1px 0px;
	    background-size: cover;
	    min-height: 275px;
	    width: 37%;
	    float: left;
	}
	ul.address {
	    margin-top: 1.5em;
	    border-top: 1px solid #AFAFAF;
	    padding-top: 0.5em;
	    padding-left: 0;
	}
	ul.address li {
	    display: block;
	}
	ul.address li ul.address-text li:nth-child(1) {
	    width: 30%;
	    text-transform: uppercase;
	}
	ul.address li ul.address-text li {
	    display: inline-block;
	    font-size: 0.95em;
	    color: #fff;
	    margin-top: 0.9em;
	    font-weight: 100;
	}
	.address-text li a{
	    color: #fff;
	}
	.abt-agile-right h5 {
	    font-size: 20px;
	    letter-spacing: 3px;
	    margin-top: 10px;
	    color: #00e8ff;
	}
	th {
		text-align: center;
	}
	td {
		text-align: left;
	}